// Override default variables before the import
$primary: #51423D;
$secondary: #C5B09D;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-icons/font/bootstrap-icons.css';

body {
    min-height: 75rem;
    padding-top: 4.7rem;
}

.tag-intensity {
    top: 0.5rem;
    right: 0.5rem;
}